/*
@font-face {
  font-family: 'FiraCode';
  src: url('../FiraCode-Regular.woff') format('woff'), url('../FiraCode-Regular.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode-Medium';
  src: url('../FiraCode-Medium.woff') format('woff'), url('../FiraCode-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode-Bold';
  src: url('../FiraCode-Bold.woff') format('woff'), url('../FiraCode-Bold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

/*
***==> I put the 'font-face' code in the 'baseof.html' file. KJW <==***
*/


nav a.active {
 /*background-color: #ff2e88;*/
 background-color: #dd0000;
 color: #fff;
}
a[itemprop="url"] {
 /*color: #ff9800;*/
 color: #dda600;
}
a[itemprop="url"]:hover {
 color: #fff;
}
a[href*="://"]::after,
a[rel*="external"] {
   /*content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23fff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");

*/
}
a {
  color: #dda600;
}
figure a[href*="://"]::after,
figure a[rel*="external"] {
 content: "";
}
html {
 font-size: 13px;
}
.hack pre {
 font-size: 17px;
}
.hack .form input,
.hack .form textarea,
.hack .form button,
.hack .form label {
 font-size: 1rem;
}
article [itemprop="description"] {
 margin-bottom: 20px;
 margin-top: 20px;
 font-size: 1rem;
 line-height: 1.4rem;
}

.hack p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.hack [itemprop="articleBody"]{
  font-size: 1rem;
  line-height: 1.4rem;
}

article header img {
 width: 100%;
 border-radius: 3px;
}
@media screen and (min-width: 768px) {
 html {
   font-size: 1em;
 }
 .container {
   max-width: 50rem;
 }
}

[v-cloak] {
 display: none;
}


 /* ## Hacks
nav a[href="/cheat/"],
nav a[href="/deal/"],
nav a[href="/ico/"],
nav a[href="/cowork/southeast-asia/bali/"] {
 display: none;*/
}
/* ## End Hacks */

.hack h1,.hack h2,.hack h3,.hack h4,.hack h5,.hack h6 {
  font-family: 'FiraCode-Medium', Courier;
  font-weight: 500;
  font-size: 1.25rem;
}

a {
  border-bottom: none;
  border-radius: 1px;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  padding: 1px;
  margin: -1px;
}
a[itemprop="url"], [itemprop="name"] a, summary {
  margin: inherit;
  padding: 2px 3px;
}
.hack a {
  border-bottom: 1px #dda600 dashed;
}
.hack a.active {
  color: black;
  border-bottom: none;
}
.hack a:hover, .hack a:focus, summary:focus {
  /*background-color: #ff2e88;*/
  background-color: #ff0000;
  outline: none;
  border-bottom: none;
}
details {
  margin-top: 20px;
}
mark, kbd {
 color: #abb2bf;
 background-color: #2c313a;
}
.readmore a, header nav[itemtype*="SiteNavigation"] a:first-of-type, summary {
  margin-left: -3px;
}

.hack header h2, .hack header h3 {
  font-family:'FiraCode', Courier;
  letter-spacing: .02em;
  font-weight: 300;
}
.hack header h1 {
  font-size: 1.6em;
  letter-spacing: -0.1rem;
  font-family: 'FiraCode-Bold', Courier;
}
.hack header h1::after {
  content: "";
}
.hack header h2 {
  font-size: 1.2em;
}
.hack header .grid p.muted {
  /* adjust the list page meta display */
  margin-top: 0;
  text-align: right;
}
.hack header p.muted {
  margin-top: -30px; /* TODO: consolidate above */
  font-size: initial;
}
.hack header p.muted, .hack header h1, .hack header h2 {
  margin-bottom: 0;
}

div.homepage-content {
  margin-top: -40px;
}

.hack ol li:nth-child(n+10):after {
  left: -12px;
}
@media screen and (max-width: 768px) {
  header .grid p.muted  {
    display: none;
 }
}
/* ## Figures */
figure {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
figure img {
  max-width: 80%;
}
figure a {
  border-bottom: none !important;
}
figure a:hover {
  background-color: inherit !important;
}
/* ## Google Maps */
.mapcanvas {
  /* default map canvas height */
  height: 200px;
}
.mapcanvas a[target="_blank"]::after {
  /* hide svg content on Google map canvas */
  content: ""
}
/* ## Ads */
/*a[href="/go/ledger-home"] {
 border-bottom: none !important;
}*/

.hack header h2 {
  letter-spacing: -0.04em;
}

.hack blockquote{
  font-family: 'FiraCode', Courier;
  padding-left: 5ch;
  color: #B9A44C;
}

.hack blockquote em, .hack blockquote strong {
  font-family: 'FiraCode', Courier;
  font-size: 1rem;
  line-height: 1.4rem;
}


.hack header blockquote {
  padding-top: 20px;
  /*font-size: 16px;*/
  font-size: 1rem;
  padding-bottom: 20px;
  /*line-height: 20px;*/
  padding-left: 5ch;
}

.hack blockquote[itemprop="headline"]{
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 5ch;
}
.hack blockquote, .hack code, .hack em, .hack strong {
    line-height: 1.4rem;
}

.hack h2:before {
    /*content: "## ";*/
    content: "";
}

.hack h2 {
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'FiraCode-Bold', Courier;
  letter-spacing: -0.04em;
  margin-top: 30px;
  margin-bottom: 5px;
  /*font-size: 1.2rem;*/
  font-size: 1.4rem;
}

.hack h3 {
  font-family: 'FiraCode', Courier;
  letter-spacing: -0.04em;
  margin-top: 30px;
  margin-bottom: -0.75rem;
  /*margin-bottom: 5px;*/
  font-size: 1.2rem;
}

.alert h2 { /*with h2 content of an alert box, this removes the gap between the text and the top border*/
  margin-top: 0px;
}

/*************/


.hack h2[itemprop="name"]{
  font-family: 'FiraCode-Bold', Courier;
  margin-top: 0px;
  /*letter-spacing: 0.05em;*/
}

.hack h1{
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'FiraCode-Bold', Courier;
  font-size: 1.4em;
  padding-bottom: 20px;
}

.hack h1:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
}

.hack h1[itemprop="headline name"] {
  /*font-family: 'Liberation Mono';*/
  font-family: 'FiraCode-Bold', Courier;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 1.6rem;
  padding-bottom: 0px;
}

.hack li {
    position: relative;
    display: block;
    margin-left: 30px;
    padding-left: 40px;
    /*font-size: 18px;
    /* line-height: 26px;*/
    font-size: 1rem;
    line-height: 1.4rem;
}

.hack li:after {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0px;
    /*margin-top: 6px;*/
}

.btn-error {
    color: #fff;
    background-color: #dd0000;
    border: 1px solid #f44336;
}

.btn-error:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

.form-group label {
    border-bottom: 2px solid #ccc;
    color: #333;
    width: 10rem;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    float: left;
    position: relative;
}

.form-group.form-error label {
    color: #dd0000!important;
    border-color: #dd0000!important;
}

.hack em:after, .hack em:before {
    content: "";
}

.hack em {
  font-style: italic;
}

.hack, .hack em, .hack strong {
 font-family: 'FiraCode', Courier;
 font-size: inherit;
 line-height: inherit;
 /*font-size: 1rem;*/
 /*line-height: 1.4rem;*/
}

.hack header p.muted {
    margin-top: 5px;
    font-size: initial;
    color: #777
}

.hack blockquote:after {
  line-height: 1.4rem;
  font-size: 1rem;
}

.dark code, .dark strong {
    color: inherit;
}

small.muted {
  color: #666;
}

table thead th {
    font-size: 1rem;
    background-color: #000;
}

table tbody td:first-child {
    font-weight: normal;
    color: #333;
}
table tr:nth-child(odd) {
  background-color: #111;
}

.hack h3:before {
    /*content: "### ";*/
    content: "";
}

.hack header figure[itemtype*="ImageObject"] figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    /*text-align: right;
    padding: 15px;
    font-style: oblique;
    font-size: smaller;*/
    mix-blend-mode: normal !important;
}

.footnote-ref a {
      border-bottom: none;
}

a.footnote-return {
      border-bottom: none;
}

/*this positions the custom menu.social to the right of the main menu*/
.hack > header {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, auto);
  column-gap: 20px;
  grid-template-areas: "nav nav";
}


h1#em-becoming-and-producing-disciples-of-jesus-christ-em {
  color: #fff;
}

/*Removes the massive padding below the website title so that the content starts closer to the bottom of the title */
div.homepage-content img {
  margin-top: -25px;
}
